.footer {
  padding: 45px 0 180px 0;
  background-color: #1a1a1a;

  &__wrapp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    img {
      width: 155px;
      height: 50px;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
      font-family: $font-family;
      color: $white;
      font-weight: 400;
      font-size: 20px;
    }

    a {
      font-family: $font-family;
      color: $white;
      font-weight: 400;
      font-size: 20px;
    }
  }

  &__social {
    display: flex;
    gap: 10px;

    path {
      transition: fill 0.3s ease;
    }

    a:hover path {
      fill: $pink;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;

    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;

      li a {
        font-family: $font-family;
        color: $white;
        font-weight: 400;
        font-size: 20px;
      }

    }

  }

  &__meta {
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 10px;
      font-family: $font-family;
      color: $white;
      font-weight: 300;
      font-size: 18px;
    }

    a {
      margin-bottom: 35px;
      font-family: $font-family;
      color: rgba(255, 255, 255, 0.9);
      font-weight: 500;
      font-size: 18px;
      line-height: 120%;
    }

  }

  &__map{
    display: flex;
    gap: 30px;
  }
}