.footer {
  padding: 45px 0 180px 0;
  background-color: #1a1a1a;

  &__wrapp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    img{
      width: 150px;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
  }

  &__nav {
    display: flex;
    flex-direction: column;
  }

  &__meta {
    display: flex;
    flex-direction: column;
  }
}