.footer {
  padding: 35px 0 100px 40px;
  background-color: #1a1a1a;

  &__wrapp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    img {
      width: 155px;
      height: 50px;
    }

    @include mobile {
      gap: 25px;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include mobile {
      margin-bottom: 15px;
    }

    p {
      font-family: $font-family;
      color: $white;
      font-weight: 400;
      font-size: 20px;
    }

    a {
      font-family: $font-family;
      color: $white;
      font-weight: 400;
      font-size: 20px;

      transition: all 0.3s ease;

      &:hover {
        color: $pink;
      }
    }
  }

  &__social {
    display: flex;
    gap: 10px;

    path {
      transition: fill 0.3s ease;
    }

    a:hover path {
      fill: $pink;
    }

    transition: all 0.3s ease;

    a:hover {
      color: $pink;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;

    @include mobile {
      margin-bottom: 10px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;

      li a {
        font-family: $font-family;
        color: $white;
        font-weight: 400;
        font-size: 20px;

        transition: all 0.3s ease;

        &:hover {
          color: $pink;
        }
      }

    }

  }

  &__meta {
    display: flex;
    flex-direction: column;

    a {
      font-family: $font-family;
      color: rgba(255, 255, 255, 0.9);
      font-weight: 500;
      font-size: 18px;
      line-height: 120%;

      transition: all 0.3s ease;

      &:first-child {
        font-weight: 300;
      }
    
      &:nth-child(2) {
        font-weight: 500;
      }

      &:hover {
        color: $pink;
      }

      @include mobile {
        order: 2;
      }
    }

    a:nth-child(1) {
      margin-bottom: 10px;
    }

    a:nth-child(2) {
      margin-bottom: 35px;
    }

  }

  &__map {
    display: flex;
    gap: 30px;

    @include mobile {
      margin-bottom: 40px;
      order: 1;
    }
  }
}